# Synthesize a Table (Gaussian Coupla)

In this notebook, we'll use the SDV to create synthetic data for a single table and evaluate it. The SDV uses machine learning to learn patterns from real data and emulates them when creating synthetic data.

We'll use the **Gaussian Copula** algorithm to do this. Gaussian Copula is a fast, customizable and transparent way to synthesize data.

_Last Edit: Dec 12, 2023_

In [1]:
from sdv.datasets.demo import download_demo

real_data, metadata = download_demo(
    modality='sequential',
    dataset_name='nasdaq100_2019'
)

In [2]:
categories_to_filter = ['AAPL', 'AMZN', 'MSFT', 'FB', 'TSLA', 'GOOGL', 'GOOG', 'NVDA',
       'ADBE', 'PYPL', 'NFLX', 'INTC', 'CMCSA', 'PEP', 'CSCO', 'COST'
       ]
data = real_data[real_data['Symbol'].isin(categories_to_filter)]

In [3]:
data.shape

(4032, 8)

In [4]:
data.to_csv('copulas_i1_real.csv')

In [6]:
from sdv.single_table import GaussianCopulaSynthesizer

synthesizer = GaussianCopulaSynthesizer(metadata)
synthesizer.fit(data)

In [7]:
synthetic_data = synthesizer.sample(num_rows=20000)
synthetic_data.head()

C:\Users\ghoshjy\AppData\Roaming\Python\Python310\site-packages\rdt\transformers\categorical.py:196: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  result = result.replace(nan_name, np.nan)
C:\Users\ghoshjy\AppData\Roaming\Python\Python310\site-packages\rdt\transformers\categorical.py:196: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  result = result.replace(nan_name, np.nan)

,Symbol,Date,Open,Close,Volume,MarketCap,Sector,Industry
0,AAAA,2019-10-15,1607.835907,1579.254939,999062,1.032597e+11,Technology,Auto Manufacturing
1,AAAB,2019-05-20,106.126611,73.948409,18717669,3.736759e+11,NaN,Television Services
2,AAAC,2019-09-24,37.125899,38.309563,24239242,NaN,Consumer Services,Semiconductors
3,AAAD,2019-05-02,953.324635,1103.521687,3144318,5.226456e+10,NaN,"Computer Software: Programming, Data Processing"
4,AAAE,2019-02-16,448.058051,163.562205,26473287,3.304114e+11,Technology,"Computer Software: Programming, Data Processing"

In [8]:
synthetic_data.to_csv('copulas_i1_synthetic.csv')

In [9]:
synthetic_data.Date.value_counts(dropna = False
                                )

Date
2019-07-24    89
2019-02-14    83
2019-11-20    78
2019-12-28    75
2019-03-24    73
              ..
2019-01-13    39
2019-01-22    37
2019-10-08    36
2019-09-21    35
2019-05-17    34
Name: count, Length: 364, dtype: int64

In [10]:
from sdv.evaluation.single_table import run_diagnostic

diagnostic = run_diagnostic(
    real_data=data,
    synthetic_data=synthetic_data,
    metadata=metadata
)

Generating report ...
(1/2) Evaluating Data Validity: : 100%|█████████████████████████████████████████████████| 8/8 [00:00<00:00, 470.54it/s]
(2/2) Evaluating Data Structure: : 100%|█████████████████████████████████████████████████| 1/1 [00:00<00:00, 47.94it/s]

Overall Score: 100.0%

Properties:
- Data Validity: 100.0%
- Data Structure: 100.0%

In [11]:
from sdv.evaluation.single_table import evaluate_quality

quality_report = evaluate_quality(
    data,
    synthetic_data,
    metadata
)

Generating report ...
(1/2) Evaluating Column Shapes: : 100%|█████████████████████████████████████████████████| 8/8 [00:00<00:00, 132.23it/s]
(2/2) Evaluating Column Pair Trends: : 100%|███████████████████████████████████████████| 28/28 [00:00<00:00, 71.11it/s]

Overall Score: 82.31%

Properties:
- Column Shapes: 86.82%
- Column Pair Trends: 77.79%

In [12]:
from sdv.evaluation.single_table import get_column_plot

fig = get_column_plot(
    real_data=data,
    synthetic_data=synthetic_data,
    column_name='Date',
    metadata=metadata
)

fig.show()

In [13]:
from sdv.evaluation.single_table import get_column_plot

fig = get_column_plot(
    real_data=data,
    synthetic_data=synthetic_data,
    column_name='Open',
    metadata=metadata
)

fig.show()

In [14]:
from sdv.evaluation.single_table import get_column_plot

fig = get_column_plot(
    real_data=data,
    synthetic_data=synthetic_data,
    column_name='Close',
    metadata=metadata
)

fig.show()

In [16]:
from sdv.evaluation.single_table import get_column_plot

fig = get_column_plot(
    real_data=data,
    synthetic_data=synthetic_data,
    column_name='Volume',
    metadata=metadata
)

fig.show()

## Iteration2

## AMAZON

### Here we are going to pick each sequence and check for the synthetic data

In [26]:
amzn_sequence = real_data[real_data['Symbol'] == 'AMZN']
amzn_sequence.head()

,Symbol,Date,Open,Close,Volume,MarketCap,Sector,Industry
252,AMZN,2018-12-31,1510.800049,1501.969971,6954500,4.035002e+11,Consumer Services,Catalog/Specialty Distribution
253,AMZN,2019-01-02,1465.199951,1539.130005,7983100,4.035002e+11,Consumer Services,Catalog/Specialty Distribution
254,AMZN,2019-01-03,1520.010010,1500.280029,6975600,4.035002e+11,Consumer Services,Catalog/Specialty Distribution
255,AMZN,2019-01-04,1530.000000,1575.390015,9182600,4.035002e+11,Consumer Services,Catalog/Specialty Distribution
256,AMZN,2019-01-07,1602.310059,1629.510010,7993200,4.035002e+11,Consumer Services,Catalog/Specialty Distribution

In [27]:
amzn_sequence.shape

(252, 8)

In [28]:
from sdv.single_table import GaussianCopulaSynthesizer

synthesizer = GaussianCopulaSynthesizer(metadata)
synthesizer.fit(amzn_sequence)

In [29]:
synthetic_data = synthesizer.sample(num_rows=25200)
synthetic_data.head()

,Symbol,Date,Open,Close,Volume,MarketCap,Sector,Industry
0,AAAA,2019-12-10,1861.387501,1846.968838,2209516,4.035002e+11,Consumer Services,Catalog/Specialty Distribution
1,AAAB,2019-02-09,1740.570472,1755.326643,1938526,4.035002e+11,Consumer Services,Catalog/Specialty Distribution
2,AAAC,2019-06-11,1720.340942,1732.246223,4042632,4.035002e+11,Consumer Services,Catalog/Specialty Distribution
3,AAAD,2019-08-17,1829.675739,1804.681874,2569571,4.035002e+11,Consumer Services,Catalog/Specialty Distribution
4,AAAE,2019-06-18,1826.698514,1847.280198,6743629,4.035002e+11,Consumer Services,Catalog/Specialty Distribution

In [34]:
synthetic_data.to_csv('copulas_amazon_synthetic.csv')

In [30]:
from sdv.evaluation.single_table import run_diagnostic

diagnostic = run_diagnostic(
    real_data=amzn_sequence,
    synthetic_data=synthetic_data,
    metadata=metadata
)

Generating report ...
(1/2) Evaluating Data Validity: : 100%|█████████████████████████████████████████████████| 8/8 [00:00<00:00, 639.03it/s]
(2/2) Evaluating Data Structure: : 100%|████████████████████████████████████████████████| 1/1 [00:00<00:00, 332.99it/s]

Overall Score: 100.0%

Properties:
- Data Validity: 100.0%
- Data Structure: 100.0%

In [31]:
from sdv.evaluation.single_table import evaluate_quality

quality_report = evaluate_quality(
    amzn_sequence,
    synthetic_data,
    metadata
)

Generating report ...
(1/2) Evaluating Column Shapes: : 100%|█████████████████████████████████████████████████| 8/8 [00:00<00:00, 190.50it/s]
(2/2) Evaluating Column Pair Trends: : 100%|███████████████████████████████████████████| 28/28 [00:00<00:00, 58.41it/s]

Overall Score: 68.0%

Properties:
- Column Shapes: 95.53%
- Column Pair Trends: 40.47%

In [32]:
from sdv.evaluation.single_table import get_column_plot

fig = get_column_plot(
    real_data=amzn_sequence,
    synthetic_data=synthetic_data,
    column_name='Date',
    metadata=metadata
)

fig.show()

In [24]:
from sdv.evaluation.single_table import get_column_plot

fig = get_column_plot(
    real_data=amzn_sequence,
    synthetic_data=synthetic_data,
    column_name='Open',
    metadata=metadata
)

fig.show()

In [25]:
from sdv.evaluation.single_table import get_column_plot

fig = get_column_plot(
    real_data=amzn_sequence,
    synthetic_data=synthetic_data,
    column_name='Close',
    metadata=metadata
)

fig.show()

In [104]:
from sdv.evaluation.single_table import get_column_plot

fig = get_column_plot(
    real_data=amzn_sequence,
    synthetic_data=synthetic_data,
    column_name='Volume',
    metadata=metadata
)

fig.show()

In [46]:
import plotly.subplots as sp
import plotly.graph_objects as go
from sdv.evaluation.single_table import get_column_plot

In [55]:
# figs = []
# for i, j in enumerate(list(amzn_sequence.columns)[1:5]):

#     fig = get_column_plot(
#         real_data = amzn_sequence,
#         synthetic_data = synthetic_data,
#         column_name = j,
#         metadata = metadata
#     )
#     figs.append(fig)

# fig = sp.make_subplots(rows = 2, cols = 3, subplot_titles = list(amzn_sequence.columns)[1:5])
# rows = 2
# columns = 3

# for i in range(rows):
#     for j in range(columns):
#         count = i+j

# fig.add_trace(figs[count]['data'][0], row = i+1, col = j+1)
# fig.add_trace(figs[count]['data'][1], row = i+1, col = j+1)

# fig.update_layout(height = 500, width = 2000, title_text = 'gg')
# fig.show()

In [55]:
# figs = []
# for i, j in enumerate(list(amzn_sequence.columns)[1:5]):

#     fig = get_column_plot(
#         real_data = amzn_sequence,
#         synthetic_data = synthetic_data,
#         column_name = j,
#         metadata = metadata
#     )
#     figs.append(fig)

# fig = sp.make_subplots(rows = 2, cols = 3, subplot_titles = list(amzn_sequence.columns)[1:5])
# rows = 2
# columns = 3

# for i in range(rows):
#     for j in range(columns):
#         count = i+j

# fig.add_trace(figs[count]['data'][0], row = i+1, col = j+1)
# fig.add_trace(figs[count]['data'][1], row = i+1, col = j+1)

# fig.update_layout(height = 500, width = 2000, title_text = 'gg')
# fig.show()

## AAPL

### Here we are going to pick each sequence and check for the synthetic data

In [35]:
amzn_sequence = real_data[real_data['Symbol'] == 'AAPL']
amzn_sequence.head()

,Symbol,Date,Open,Close,Volume,MarketCap,Sector,Industry
0,AAPL,2018-12-31,39.632500,39.435001,140014000,7.378734e+11,Technology,Computer Manufacturing
1,AAPL,2019-01-02,38.722500,39.480000,148158800,7.378734e+11,Technology,Computer Manufacturing
2,AAPL,2019-01-03,35.994999,35.547501,365248800,7.378734e+11,Technology,Computer Manufacturing
3,AAPL,2019-01-04,36.132500,37.064999,234428400,7.378734e+11,Technology,Computer Manufacturing
4,AAPL,2019-01-07,37.174999,36.982498,219111200,7.378734e+11,Technology,Computer Manufacturing

In [36]:
amzn_sequence.shape

(252, 8)

In [37]:
from sdv.single_table import GaussianCopulaSynthesizer

synthesizer = GaussianCopulaSynthesizer(metadata)
synthesizer.fit(amzn_sequence)

In [38]:
synthetic_data = synthesizer.sample(num_rows=25200)
synthetic_data.head()

,Symbol,Date,Open,Close,Volume,MarketCap,Sector,Industry
0,AAAA,2019-11-24,61.716011,60.717243,103853504,7.378734e+11,Technology,Computer Manufacturing
1,AAAB,2019-03-15,49.924154,51.874086,130561525,7.378734e+11,Technology,Computer Manufacturing
2,AAAC,2019-04-28,45.442901,45.790072,140215634,7.378734e+11,Technology,Computer Manufacturing
3,AAAD,2019-09-22,57.724595,55.651331,246043646,7.378734e+11,Technology,Computer Manufacturing
4,AAAE,2019-08-04,49.474526,50.852676,82866719,7.378734e+11,Technology,Computer Manufacturing

In [39]:
synthetic_data.to_csv('copulas_aapl_synthetic.csv')

In [40]:
from sdv.evaluation.single_table import run_diagnostic

diagnostic = run_diagnostic(
    real_data=amzn_sequence,
    synthetic_data=synthetic_data,
    metadata=metadata
)

Generating report ...
(1/2) Evaluating Data Validity: : 100%|█████████████████████████████████████████████████| 8/8 [00:00<00:00, 571.37it/s]
(2/2) Evaluating Data Structure: : 100%|████████████████████████████████████████████████| 1/1 [00:00<00:00, 333.07it/s]

Overall Score: 100.0%

Properties:
- Data Validity: 100.0%
- Data Structure: 100.0%

In [41]:
from sdv.evaluation.single_table import evaluate_quality

quality_report = evaluate_quality(
    amzn_sequence,
    synthetic_data,
    metadata
)

Generating report ...
(1/2) Evaluating Column Shapes: : 100%|█████████████████████████████████████████████████| 8/8 [00:00<00:00, 231.55it/s]
(2/2) Evaluating Column Pair Trends: : 100%|███████████████████████████████████████████| 28/28 [00:00<00:00, 79.35it/s]

Overall Score: 95.11%

Properties:
- Column Shapes: 96.08%
- Column Pair Trends: 94.15%

In [42]:
from sdv.evaluation.single_table import get_column_plot

fig = get_column_plot(
    real_data=amzn_sequence,
    synthetic_data=synthetic_data,
    column_name='Date',
    metadata=metadata
)

fig.show()

In [43]:
from sdv.evaluation.single_table import get_column_plot

fig = get_column_plot(
    real_data=amzn_sequence,
    synthetic_data=synthetic_data,
    column_name='Open',
    metadata=metadata
)

fig.show()

In [44]:
from sdv.evaluation.single_table import get_column_plot

fig = get_column_plot(
    real_data=amzn_sequence,
    synthetic_data=synthetic_data,
    column_name='Close',
    metadata=metadata
)

fig.show()

In [45]:
from sdv.evaluation.single_table import get_column_plot

fig = get_column_plot(
    real_data=amzn_sequence,
    synthetic_data=synthetic_data,
    column_name='Volume',
    metadata=metadata
)

fig.show()

In [46]:
real_data.Symbol.value_counts()

Symbol
AAPL    252
KLAC    252
MRNA    252
PAYX    252
ASML    252
       ...
JD      252
GILD    252
FOXA    204
FOX     203
ZM      177
Name: count, Length: 103, dtype: int64

## PAYX

### Here we are going to pick each sequence and check for the synthetic data

In [47]:
amzn_sequence = real_data[real_data['Symbol'] == 'PAYX']
amzn_sequence.head()

,Symbol,Date,Open,Close,Volume,MarketCap,Sector,Industry
18321,PAYX,2018-12-31,65.180000,65.150002,1599800,2.211192e+10,Consumer Services,Diversified Commercial Services
18322,PAYX,2019-01-02,64.080002,65.070000,2589400,2.211192e+10,Consumer Services,Diversified Commercial Services
18323,PAYX,2019-01-03,64.389999,63.970001,2231000,2.211192e+10,Consumer Services,Diversified Commercial Services
18324,PAYX,2019-01-04,65.139999,66.199997,2137200,2.211192e+10,Consumer Services,Diversified Commercial Services
18325,PAYX,2019-01-07,66.000000,65.849998,1708100,2.211192e+10,Consumer Services,Diversified Commercial Services

In [48]:
synthetic_data.to_csv('copulas_payx_synthetic.csv')

In [49]:
amzn_sequence.shape

(252, 8)

In [50]:
from sdv.single_table import GaussianCopulaSynthesizer

synthesizer = GaussianCopulaSynthesizer(metadata)
synthesizer.fit(amzn_sequence)

In [51]:
synthetic_data = synthesizer.sample(num_rows=25200)
synthetic_data.head()

,Symbol,Date,Open,Close,Volume,MarketCap,Sector,Industry
0,AAAA,2019-11-23,85.872620,86.346630,1224555,2.211192e+10,Consumer Services,Diversified Commercial Services
1,AAAB,2019-02-02,78.235251,86.358901,1386844,2.211192e+10,Consumer Services,Diversified Commercial Services
2,AAAC,2019-05-12,71.994881,78.159492,1447815,2.211192e+10,Consumer Services,Diversified Commercial Services
3,AAAD,2019-09-25,80.567565,78.511100,795521,2.211192e+10,Consumer Services,Diversified Commercial Services
4,AAAE,2019-10-01,82.027020,86.601940,2237979,2.211192e+10,Consumer Services,Diversified Commercial Services

In [52]:
from sdv.evaluation.single_table import run_diagnostic

diagnostic = run_diagnostic(
    real_data=amzn_sequence,
    synthetic_data=synthetic_data,
    metadata=metadata
)

Generating report ...
(1/2) Evaluating Data Validity: : 100%|█████████████████████████████████████████████████| 8/8 [00:00<00:00, 370.87it/s]
(2/2) Evaluating Data Structure: : 100%|████████████████████████████████████████████████| 1/1 [00:00<00:00, 331.78it/s]

Overall Score: 100.0%

Properties:
- Data Validity: 100.0%
- Data Structure: 100.0%

In [53]:
from sdv.evaluation.single_table import evaluate_quality

quality_report = evaluate_quality(
    amzn_sequence,
    synthetic_data,
    metadata
)

Generating report ...
(1/2) Evaluating Column Shapes: : 100%|█████████████████████████████████████████████████| 8/8 [00:00<00:00, 109.49it/s]
(2/2) Evaluating Column Pair Trends: : 100%|███████████████████████████████████████████| 28/28 [00:00<00:00, 62.50it/s]

Overall Score: 65.71%

Properties:
- Column Shapes: 91.73%
- Column Pair Trends: 39.68%

In [54]:
from sdv.evaluation.single_table import get_column_plot

fig = get_column_plot(
    real_data=amzn_sequence,
    synthetic_data=synthetic_data,
    column_name='Date',
    metadata=metadata
)

fig.show()

In [55]:
from sdv.evaluation.single_table import get_column_plot

fig = get_column_plot(
    real_data=amzn_sequence,
    synthetic_data=synthetic_data,
    column_name='Open',
    metadata=metadata
)

fig.show()

In [56]:
from sdv.evaluation.single_table import get_column_plot

fig = get_column_plot(
    real_data=amzn_sequence,
    synthetic_data=synthetic_data,
    column_name='Close',
    metadata=metadata
)

fig.show()

In [57]:
from sdv.evaluation.single_table import get_column_plot

fig = get_column_plot(
    real_data=amzn_sequence,
    synthetic_data=synthetic_data,
    column_name='Volume',
    metadata=metadata
)

fig.show()

In [118]:
real_data.Symbol.value_counts()

Symbol
AAPL    252
KLAC    252
MRNA    252
PAYX    252
ASML    252
       ...
JD      252
GILD    252
FOXA    204
FOX     203
ZM      177
Name: count, Length: 103, dtype: int64

## ASML

### Here we are going to pick each sequence and check for the synthetic data

In [58]:
amzn_sequence = real_data[real_data['Symbol'] == 'ASML']
amzn_sequence.head()

,Symbol,Date,Open,Close,Volume,MarketCap,Sector,Industry
18069,ASML,2018-12-31,156.039993,155.619995,356500,9.002084e+09,Technology,Industrial Machinery/Components
18070,ASML,2019-01-02,154.279999,156.300003,602500,9.002084e+09,Technology,Industrial Machinery/Components
18071,ASML,2019-01-03,151.190002,147.679993,1078600,9.002084e+09,Technology,Industrial Machinery/Components
18072,ASML,2019-01-04,150.649994,154.070007,589500,9.002084e+09,Technology,Industrial Machinery/Components
18073,ASML,2019-01-07,156.500000,157.589996,971900,9.002084e+09,Technology,Industrial Machinery/Components

In [59]:
amzn_sequence.shape

(252, 8)

In [60]:
from sdv.single_table import GaussianCopulaSynthesizer

synthesizer = GaussianCopulaSynthesizer(metadata)
synthesizer.fit(amzn_sequence)

In [61]:
synthetic_data = synthesizer.sample(num_rows=25200)
synthetic_data.head()

,Symbol,Date,Open,Close,Volume,MarketCap,Sector,Industry
0,AAAA,2019-11-20,258.086983,259.437719,594918,9.002084e+09,Technology,Industrial Machinery/Components
1,AAAB,2019-03-14,212.859381,211.366230,761015,9.002084e+09,Technology,Industrial Machinery/Components
2,AAAC,2019-04-21,192.859926,191.905743,837442,9.002084e+09,Technology,Industrial Machinery/Components
3,AAAD,2019-08-26,236.633025,241.653675,1668567,9.002084e+09,Technology,Industrial Machinery/Components
4,AAAE,2019-08-10,215.724727,211.113530,450733,9.002084e+09,Technology,Industrial Machinery/Components

In [62]:
synthetic_data.to_csv('copulas_asml_synthetic.csv')

In [63]:
from sdv.evaluation.single_table import run_diagnostic

diagnostic = run_diagnostic(
    real_data=amzn_sequence,
    synthetic_data=synthetic_data,
    metadata=metadata
)

Generating report ...
(1/2) Evaluating Data Validity: : 100%|█████████████████████████████████████████████████| 8/8 [00:00<00:00, 571.61it/s]
(2/2) Evaluating Data Structure: : 100%|████████████████████████████████████████████████| 1/1 [00:00<00:00, 332.64it/s]

Overall Score: 100.0%

Properties:
- Data Validity: 100.0%
- Data Structure: 100.0%

In [64]:
from sdv.evaluation.single_table import evaluate_quality

quality_report = evaluate_quality(
    amzn_sequence,
    synthetic_data,
    metadata
)

Generating report ...
(1/2) Evaluating Column Shapes: : 100%|█████████████████████████████████████████████████| 8/8 [00:00<00:00, 231.63it/s]
(2/2) Evaluating Column Pair Trends: : 100%|███████████████████████████████████████████| 28/28 [00:01<00:00, 14.97it/s]

Overall Score: 68.46%

Properties:
- Column Shapes: 96.17%
- Column Pair Trends: 40.76%

In [65]:
from sdv.evaluation.single_table import get_column_plot

fig = get_column_plot(
    real_data=amzn_sequence,
    synthetic_data=synthetic_data,
    column_name='Date',
    metadata=metadata
)

fig.show()

In [66]:
from sdv.evaluation.single_table import get_column_plot

fig = get_column_plot(
    real_data=amzn_sequence,
    synthetic_data=synthetic_data,
    column_name='Open',
    metadata=metadata
)

fig.show()

In [67]:
from sdv.evaluation.single_table import get_column_plot

fig = get_column_plot(
    real_data=amzn_sequence,
    synthetic_data=synthetic_data,
    column_name='Close',
    metadata=metadata
)

fig.show()

In [68]:
from sdv.evaluation.single_table import get_column_plot

fig = get_column_plot(
    real_data=amzn_sequence,
    synthetic_data=synthetic_data,
    column_name='Volume',
    metadata=metadata
)

fig.show()